// GUI stylies of the project
// For example, styles of the links, buttons and so on.

.icon-che {
	display: inline-block;
	@include bg($icon-che);
}
.icon-close-red {
	display: inline-block;
	@include bg($icon-close-red);
}
.icon-full {
	position: absolute;
	top: 30px;
	left: 100px;
	display: inline-block;
	@include bg($icon-full);
}
.yo {
	display: inline-block;
	@include bg($yo);
	position: absolute;
	opacity: 1;
	transition: opacity .4s;
	&-1 {
		top: 60%;
		left: 22%;
	}
	&-2 {
		top: 40%;
		left: 30%;
	}
	&-3 {
		top: 10%;
		left: 68%;
	}
	&-4 {
		top: 28%;
		left: 76%;
	}
	&-5 {
		top: 40%;
		left: 85%;
	}
	&-6 {
		top: 77%;
		left: 93%;
	}
	&-7 {
		top: 83%;
		left: 82%;
	}
	&-8 {
		top: 71%;
		left: 77%;
	}
	&-9 {
		top: 0%;//--9***
		left: 20%;
	}
	&-10 {
		top: 11%;
		left: 0%;
	}
	&-11 {
		top: 0%;
		left: 0%;
	}
	&-12 {
		top: 5%;
		left: 7%;
	}
	&-13 {
		top: 7%;
		left: 7%;
	}
	&-14 {
		top: 6%;
		left: 17%;
	}
	&-15 {
		top: 90%;
		left: 97%;
	}
	&-16 {
		top: 60%;
		left: 97%;
	}
	&-17 {
		top: 80%;
		left: 97%;
	}
	&-18 {
		top: 6%;
		left: 80%;
	}
	&-19 {
		top: 30%;
		left: 97%;
	}
	&-20 {
		top: 46%;
		left: 97%;
	}
	&.is-hidden {
		opacity: 0;
	}
}

.k {
	position: absolute;
	display: inline-block;
	@include bg($icon-k);
	opacity: 1;
	@media only screen and (max-width: 760px) {
		transform: scale(.8)
	}
	// transition: opacity .3s;
	&-1 {
		// top: 0;
		// left: 0;
		top: -20%;
		left: -20%;
	}
	&-2 {
		// top: 16%;
		// left: 3%;
		top: -20%;
		left: -20%;
	}
	&-3 {
		// top: 0;
		// left: 10%;
		top: -20%;
		left: -20%;
	}
	&-4 {
		// top: 0;
		// left: 10%;
		top: -20%;
		left: -20%;
	}
	&-5 {
		// top: 0;
		// left: -10%;
		top: -20%;
		left: -20%;
	}
	&-6 {
		// top: 0;
		// left: 0%;
		top: -20%;
		left: -20%;
	}
	&.is-hidden {
		opacity: 0;
	}
}
.ca {
	position: absolute;
	display: inline-block;
	@include bg($icon-ca);
	opacity: 1;
	transition: opacity .4s;
	@media only screen and (max-width: 760px) {
		transform: scale(.8)
	}
	&-1 {
		top: 0;
		left: 100%;
	}
	&-2 {
		top: 16%;
		left: 100%;
	}
	&-3 {
		top: 0%;
		left: 90%;
	}
	&-4 {
		top: 16%;
		left: 90%;
	}
	&-5 {
		top: 0%;
		left: 80%;
	}
	&.is-hidden {
		opacity: 0;
	}
}
.block {
	position: absolute;
	display: inline-block;
	width: 34px;
	height: 34px;
	background: url('../img/content/close.svg') 50% 50% no-repeat;
	opacity: 1;
	transition: opacity .4s;
	&-1 {
		top: 59%;
		left: 16%;
		@media only screen and (max-width: 760px) {
			top: 60%;
			left: 14%;
		}
	}
	&-2 {
		width: 44px;
		height: 44px;
		top: 44%;
		left: 83%;
		background: url('../img/content/close2.svg') 50% 50% no-repeat;
	}
	&.is-hidden {
		opacity: 0;
	}
}

.stimulant__item {
	position: absolute;
	display: inline-block;
	@include bg($icon-stimul);
	opacity: 1;
	transition: all 1s;
	&_1 {
		top: 17px;
		left: 44px;
	}
	&_2 {
		top: 20px;
		left: 84px;
		transform: rotate(40deg);
	}
	&_3 {
		top: 40px;
		left: 65px;
		transform: rotate(-20deg);
	}
}
